OPENAI_API_KEY=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
QDRANT_HOST=localhost
QDRANT_PORT=6333
